@model Model.Cooperative.Project

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Efficiency" class="control-label"></label>
                <input asp-for="Efficiency" class="form-control" />
                <span asp-validation-for="Efficiency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationInMonth" class="control-label"></label>
                <input asp-for="DurationInMonth" class="form-control" />
                <span asp-validation-for="DurationInMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectBudget" class="control-label"></label>
                <input asp-for="ProjectBudget" class="form-control" />
                <span asp-validation-for="ProjectBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureUrl" class="control-label"></label>
                <input asp-for="PictureUrl" class="form-control" />
                <span asp-validation-for="PictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

