/* Styling for the project-card */
.project-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px; /* Negative margin to compensate for spacing between cards */
}

.project-card {
    position: relative;
    flex: 0 0 calc(33.33% - 20px); /* Three cards in a row on larger screens */
    margin: 10px; /* Adjust the margin to control the space between cards */
    height: 310px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

    .project-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .project-card img {
        height: 200px;
        width: 100%;
        object-fit:contain; /* Ensure the entire image is visible within the card */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .project-card .card-body {
        padding: 10px;
    }

    .project-card h5 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
    }

    .project-card p {
        font-size: 16px;
        color: #666;
    }

/* Media query for screens with a width of 768px or smaller */
@media screen and (max-width: 768px) {
    .project-card {
        flex: 0 0 calc(50% - 20px); /* Two cards in a row on smaller screens */
    }
}

/* Media query for screens with a width of 576px or smaller */
@media screen and (max-width: 576px) {
    .project-card {
        flex: 0 0 calc(100% - 20px); /* Single card in a row on the smallest screens */
    }
}
