 /*Jumbotron Background 
.jumbotron-bg {
    background-image: url('');
    background-size: cover;
    background-position: center;
    padding-top: 56.25%;  16:9 aspect ratio (9 / 16 = 0.5625) 
    position: relative;
    overflow: hidden;
}

 Carousel Container 
.carousel-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -40%);
    animation: fade 5s ease-in-out;
    border-radius: 5%;
}

 Carousel Inner 
.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;  Add this line to hide any overflowing content 
}

.carousel-item img {
    height: auto;
    object-fit: cover;
}

.carousel-item {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

    .carousel-item.active {
        opacity: 1;
    }

 Carousel Navigation 
.carousel-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: absolute;
    bottom: 15%;
    right: 5%;
    transform: none;
}

 Carousel Control Buttons 
.carousel-control-prev,
.carousel-control-next {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    z-index: 1;
}

.carousel-control-prev {
    left: 2%;  Adjust the initial horizontal position for all screen sizes 
}

.carousel-control-next {
    right: 2%;  Adjust the initial horizontal position for all screen sizes 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 5px;
    height: 5px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1.8;
}

 Carousel Caption 
.carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 35%;
    right: 0;
    padding: 10px;
    color: #000;
    width: 65%;
    word-wrap: break-word;
}

.carousel-caption,
.carousel-item img {
    width: 30%;
}

    .carousel-caption h5 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .carousel-caption p {
        font-size: 18px;
        margin-bottom: 0;
    }

 Adjust caption sizes for smaller screens 
@media (max-width: 992px) {
    .carousel-caption p {
        font-size: 16px;
    }

    .carousel-caption h5 {
        font-size: 14px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        display: block;
        top: 50%;
        width: 25px;  Adjust the button size for medium screens 
        height: 25px;  Adjust the button size for medium screens 
    }

    .carousel-item,
    .carousel-item img {
        width: 70%;  Resize carousel items and images for medium screens 
    }

    .carousel-control-prev {
        left: 2%;  Adjust the horizontal position for medium screens 
    }

    .carousel-control-next {
        right: 2%;  Adjust the horizontal position for medium screens 
    }
}

 Adjust caption sizes for small screens 
@media (max-width: 576px) {
    .jumbotron-bg {
        padding-top: 40%;  Change the aspect ratio to 3:10 for a lower position of the image 
    }

    .carousel-caption p {
        font-size: 12px;
    }

    .carousel-caption h5 {
        font-size: 12px;
        top: 50%;
    }

.carousel-control-prev {
    top: 5%;
    left: 2%;*/ /*Adjust the horizontal position for small screens */
    /*width: 20px;*/ /*Adjust the horizontal position for small screens */
    /*height: 20px;*/
/*    Adjust the button size for small screens
*//*}

    .carousel-control-next {
        top :5%;
        left: 4%;*/  /*Adjust the horizontal position for small screens */
        /*width: 20px;*/  /*Adjust the button size for small screens */
        /*height: 20px;*/  /*Adjust the button size for small screens */
    /*}

    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        display: flex;
        top: 70%;  Center*/ /*the buttons vertically */
    /*}

    .carousel-item,
    .carousel-item img {
        width: 90%;  Resize carousel items and images for small screens 
    }
}*/
